<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <title>API</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src ="https://upload.wikimedia.org/wikipedia/en/0/07/Ala-Too_International_University_Seal.png" style="width:100px;height:100px;">
    <a class="navbar-brand fas fa-mug-hot fa-lg" href="#">COM19 Students</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/"> Home page <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Github</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Information about API</a>
            </li>
        </ul>
    </div>
</nav>
<h1 style=" text-align: center; margin-top: 25px;">
    A short description
    <small class="text-muted">of REST API</small>
</h1>
<p style="padding: 10px;"><pre style="font-family: Arial; font-size: 18px;">
        REST API is basically an application programming interface that conforms to the constraints of REST architectural style and allows for interaction with
    RESTful web services.
        if you want to interact with a computer or system to retrieve information or perform a function, an API helps you communicate what you want to that
    system so it can understand and fulfill the request.
</pre></p>
<h1 style=" text-align: center; margin-top: 25px;">
    How to use
    <small class="text-muted">REST API</small>
</h1>
<p style="padding: 10px;"><pre style="font-family: Arial; font-size: 18px;">
        Here we have 4 routes for each operation:
            GET - it is used to see all of the information in a table, or a specific row by typing in the id. This method can be used by typing "/students/id"
            to see a specific row or "/students/all" to see all the data.
            POST - it is used to insert information to database. This method can be used by typing"/students/add".
            PUT - it is used to replace a data. This method is used by typing"/studentsr/id".
            DELETE - it is used to delete a specific row by typing in the id. This method is activated by typing"/students/id".
</pre></p>
</body>
</html>