<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <title>API</title>
</head>
<body>
<h1 style=" text-align: center; margin-top: 25px;">
    A short description
    <small class="text-muted">of REST API</small>
</h1>
<p style="padding: 10px;"><pre style="font-family: Arial; font-size: 18px;">
        REST API is basically an application programming interface that conforms to the constraints of REST architectural style and allows for interaction with
    RESTful web services.
        if you want to interact with a computer or system to retrieve information or perform a function, an API helps you communicate what you want to that
    system so it can understand and fulfill the request.
        Web APIs typically use HTTP for request messages and provide a definition of the structure of response messages. These response messages usually take
    the form of an XML or JSON file. Both XML and JSON are preferred formats because they present data in a way that’s easy for other apps to manipulate.
        Here we have 4 routes for each operation:
            GET
            POST
            PUT
            DELETE
        For these operations @GetMapping, @PostMapping, @PutMapping and @DeleteMapping mappings are written correspondingly.
</pre></p>
</body>
</html>