<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark text-gray" style="background-color: rgba(0,0,0,0.5);">
    <img src ="https://upload.wikimedia.org/wikipedia/en/0/07/Ala-Too_International_University_Seal.png" style="width:100px;height:100px;">
    <a class="navbar-brand fas fa-mug-hot fa-lg" href="#">COM19 Students</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#"> Home page <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"data-toggle="modal" data-target="#addDatalar">Add Yourself</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/aboutapi">AboutAPI</a>
            </li>
        </ul>
    </div>
</nav>
<div class ="container my-2"></div>
<table class ="table table-stripped table-responsive-md" cellspacing="1"  border="2" bordercolor="#000000" background="bg.gif">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "student: ${Students}">
        <td th:text="${student.name}"></td>
        <td th:text="${student.email}"></td>
        <td th:text="${student.getaddress()}"></td>
    </tr>
    </tbody>
</table>
<div class="modal fade" id="addDatalar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModelLabel">Add Student Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="datalarForm">

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" placeholder="Enter Address">
                    </div>
                    <button type="submit" class="btn btn-primary" onclick="sendData()">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                ...
            </div>
        </div>
    </div>
</div>
<script>
    function sendData() {


        console.log( JSON.stringify($("#studentForm").serializeArray()));
        $.ajax({
            type: "Post",
            url: "/students/add",
            data: JSON.stringify({"name":$("#name").val(),"email":$("#email").val(),"address":$("#address").val()}),
            success: function () {
                console.log("OK")
            },
            dataType: "json",
            contentType: "application/json"
        })
    }
</script>
</body>
</html>